.box{
  width: 20px;
  height: 20px;
  background: red;
}
.boy{
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
.succ{
background: pink;
}
.shib{
  background: orange;
}
.bigbox{
  width: 80px;

  border: 1px solid red;
}